
/* #image-container의 그리드 설정 */
#image-container {
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    margin-top: 10px; /* Add some space from the top */
}
/* 각 이미지의 컨테이너 */
.image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3개의 열, 각 열의 너비는 균등하게 분할 */
    gap: 5px; /* 이미지 사이의 간격을 줄임 */
    text-align: center;
}
/* 각 이미지의 스타일 */
.image-container img {
    max-width: 100%; /* 이미지의 최대 너비를 100%로 설정하여 부모 요소에 맞게 조정 */
    height: auto; /* 이미지의 높이는 비율에 맞게 자동 조정 */
    width: 100%; /* 이미지의 너비를 100%로 설정하여 이미지 컨테이너에 꽉 차도록 함 */
    max-height: 200px; /* 이미지의 최대 높이를 설정하여 이미지의 세로 길이가 너무 커지지 않도록 함 */
}
/* 왼쪽 이미지 컨테이너의 스타일 */
#copied-image-container {
    margin-top: 20px;
    top: 250px; /* 위쪽 여백 설정 */
    left: 250px; /* 왼쪽 여백 설정 */
    text-align: center; /* 텍스트를 가운데 정렬 */
}
/* 왼쪽 이미지의 크기를 고정 */
#copied-image-container img {
    width: 250px; /* 이미지의 너비를 고정 */
    height: auto; /* 이미지의 높이는 비율에 맞게 자동 조정 */
}


/* 별점 스타일 */
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative; /* 상대 위치 설정 */
    margin-top: 10px; /* 위쪽 여백 설정 */
}
.rating > span {
    display: inline-block;
    width: 2em; /* 너비를 조정 */
    height: 1em; /* 높이를 조정 */
    font-size: 2em; /* 별점 크기 조절 */
    color: #ccc; /* 별점 기본 색상 설정 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */

}
.rating > span:before {
    content: "\2605"; /* 별 모양 */
    position: absolute;
}
.rating > span input[type="radio"] {
    display: none; /* 라디오 버튼 숨김 */
}
/* 클릭한 별점까지의 색상을 변경하는 스타일 */
.rating > span.active {
    color: gold; /* 클릭한 별점까지의 색상을 변경 */
}
.rating > span label {
    display: block;
    cursor: pointer;
}


