<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>네이버 지도 테스트</title>
    <script type="text/javascript" th:src="@{https://oapi.map.naver.com/openapi/v3/maps.js(ncpClientId=${clientId})}"></script>
</head>
<body>

<!-- 지도 -->
<div id="map" style="width:75%;height: 50vh;" class="mb-3"></div>

<script>
    let position = new naver.maps.LatLng(37.3595704, 127.105399)
    let mapOptions = {
        center: position,
        zoom: 10,
        zoomControl: true,
        zoomControlOptions: {
            position: naver.maps.Position.TOP_RIGHT
        }
    };
    let map = new naver.maps.Map('map', mapOptions);
</script>
</body>
</html>
