<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>날씨 기반 옷추천</title>
    <link rel="stylesheet" type="text/css" href="/css/naversearch.css">


</head>
<body>
<div id="image-container">
    <!-- Thymeleaf를 사용하여 모델의 images를 동적으로 렌더링 -->
    <div th:each="item, iterStat : ${items}">
        <input type="hidden" class="category" th:value="${item.category}">
        <img th:src="${item.image}" alt="Image" onclick="rateImage(this)">
        <!-- 3번째 이미지마다 줄 바꿈 -->
        <th:block th:if="${iterStat.index % 3 == 2}"><br></th:block>
    </div>
</div>
<!-- 왼쪽에 클릭한 이미지를 보여주는 컨테이너 -->
<div id="copied-image-container">

</div>

<script th:src="@{/js/naversearch.js}"></script>
</body>
</html>