<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>실시간 트렌드</title>
    <link rel="stylesheet" type="text/css" href="/css/trends.css">
</head>
<body>
<div style="display: flex; flex-direction: column; align-items: center;">
    <h2 >실시간 트렌드</h2>

    <div class="graph-container" style="display: flex; justify-content: center; align-items: flex-start;">
        <div class="chart-container" style="margin-right: 20px;">
            <canvas id="realtime-trends-chart" width="500" height="300"></canvas>
        </div>
        <div class="chart-container">
            <canvas id="feedback-counts-chart" width="500" height="300"></canvas>
        </div>
    </div>

    <!-- JavaScript에서 사용할 데이터를 HTML 속성에 할당 -->
    <div id="trendsData" th:attr="data-trends=${trends}"></div>
    <div id="feedbackData" th:attr="data-feedback=${feedback}"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/trends.js}"></script>
</div>
</body>
</html>